services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest

  collector:
    build:
      context: ./collector
    container_name: collector
    env_file:
      - ./collector/.env
    depends_on:
      - rabbitmq
